*{
	margin: 0;
	padding: 0;
}
.navbar-default {
    background-color: black;
    border: none;
}
.space{
	padding: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: black;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #252525;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #252525;
}
.gallery-title
{
    font-size: 36px;
    color: #cccccc;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.gallery_product
{
    margin-bottom: 30px;
}
.filter-button
{
    font-size: 18px;
    border: 1px white;
    border-radius: 5px;
    text-align: center;
    color: #747171;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px white;
    border-radius: 5px;
    text-align: center;
    color: #2e2828;
    background-color: #595454;

}
.filter-button.active
{
    background-color: #373737;
    color: white;
}
#back-to-top {
	position: fixed;
	right: 30px;
	bottom: 60px;
	z-index: 9999;
}
#back-to-top a {
	text-decoration: none;
}
#back-to-top a img {
	width: 40px;
	height: auto;
}
